examples/workflows.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -448,
        0
      ],
      "id": "3c3173f1-f14a-482c-9ca3-ca7cf7073cba",
      "name": "When chat message received",
      "webhookId": "780fb05d-8eed-47ea-8bb4-d2c95a1f0670"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sei un assistente AI, usa i tool a disposizione per rispondere alla richiesta del utente:\n\n {{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        0
      ],
      "id": "367e866b-6453-45c6-a35c-a25ed527ee77",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        224
      ],
      "id": "328f006a-b0ce-4c21-ac7e-bb52a62642b1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KjbmhbE5ZP3C7nNJ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-homebridge.homebridge",
      "typeVersion": 1,
      "position": [
        -224,
        0
      ],
      "id": "eb296f5c-9b41-46fc-a1d0-44112ef9559e",
      "name": "Login to homebridge",
      "credentials": {
        "homebridgeApi": {
          "id": "pd6jLLDmS2xKSoP6",
          "name": "Homebridge account"
        }
      }
    },
    {
      "parameters": {
        "resource": "accessories",
        "accessToken": "={{ $('Login to homebridge').item.json.access_token }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-homebridge.homebridgeTool",
      "typeVersion": 1,
      "position": [
        256,
        224
      ],
      "id": "6210bd9e-0780-4802-aa4f-8024274c2ca3",
      "name": "List",
      "credentials": {
        "homebridgeApi": {
          "id": "pd6jLLDmS2xKSoP6",
          "name": "Homebridge account"
        }
      }
    },
    {
      "parameters": {
        "resource": "accessories",
        "operation": "setCharacteristic",
        "accessToken": "={{ $('Login to homebridge').item.json.access_token }}",
        "uniqueId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Unique_ID', ``, 'string') }}",
        "characteristicType": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Characteristic_Type', ``, 'string') }}",
        "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Value', ``, 'string') }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-homebridge.homebridgeTool",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "id": "40d01600-9727-4752-bfa7-e74708e1805c",
      "name": "Set",
      "credentials": {
        "homebridgeApi": {
          "id": "pd6jLLDmS2xKSoP6",
          "name": "Homebridge account"
        }
      }
    },
    {
      "parameters": {
        "resource": "accessories",
        "operation": "getAccessory",
        "accessToken": "={{ $('Login to homebridge').item.json.access_token }}",
        "uniqueId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Unique_ID', ``, 'string') }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-homebridge.homebridgeTool",
      "typeVersion": 1,
      "position": [
        512,
        224
      ],
      "id": "d90b9523-518f-493e-8d76-8d2000f724e5",
      "name": "Get",
      "credentials": {
        "homebridgeApi": {
          "id": "pd6jLLDmS2xKSoP6",
          "name": "Homebridge account"
        }
      }
    },
    {
      "parameters": {
        "resource": "status",
        "accessToken": "={{ $('Login to homebridge').item.json.access_token }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-homebridge.homebridgeTool",
      "typeVersion": 1,
      "position": [
        640,
        224
      ],
      "id": "0ba48e77-4b65-41da-bb80-1dc798aecb0e",
      "name": "Server Status",
      "credentials": {
        "homebridgeApi": {
          "id": "pd6jLLDmS2xKSoP6",
          "name": "Homebridge account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        224
      ],
      "id": "f51a03bb-b2f2-46a5-8e1e-4e7097762483",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Login to homebridge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Login to homebridge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Server Status": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58d427c7cf88a4a3b363b5c99dca599fd88432494f58440f612c456289dcfd0f"
  }
}